page-welcome {
  
  #welcome {
    background: color($colors, energy);
    h1{
        font-size: 42px;
        margin-top:80px
    }
    .marginTop{
        margin-top:150px;
    }  
    .logo{
        height: 100px;
    }
  }

}
